/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
  
/* General Layout */

  body {
    font-family: 'Merriweather', Georgia, serif;
    overflow: auto;
    display: inline-block;
    text-align: center; 
    background-color: ghostwhite;
    margin: 0 auto;
  }

  img {
      width: 100%;
      padding-top: 1em;
  }

  a {
   text-decoration: none;
   color: black;
  }

  a:hover {
    color: darkmagenta;
  }

  h2 {
    font-weight: normal;
  }
/* Heading Layout */

  header {
  width: 100%;
  padding: 1em 1em;
  }

  .profile-image {
    width: 80%;
  }

  .intro-bio {
      text-align: center;
      padding: 1em;
      color: darkgrey;
      line-height: 1.5;
 }

 /* Nav Layout */

  .nav { 
      list-style: none;
      padding: 10px;
      color: black; 
    }

.nav li {
      border: solid white 4px;
      background-color: white;
      padding: 10px;
      margin: 5px;
      text-transform: uppercase;
  }

/* Content Layout */

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 30px;
}
  main {
      width: 70%;
      margin: 0 auto;
      background-color: white;
      padding: 1em 1em;
      line-height: 1.5;
      padding-bottom: 2em;
  }

#skills {
  margin-top: 1em;
  padding-top: 1em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  color: mediumseagreen;
}

#skills-list {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0 1em 0;
  border-bottom: solid black 1px;
  line-height: 1.5;
  color: mediumseagreen;
  letter-spacing: 1px;
}

/* Footer Layout */ 
 
footer {
      padding-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0 auto;
      line-height: 1.5;
      color: darkgrey;
      width: 100%;
  }

  #contact-sec ul li {
      background-color: ghostwhite;
      list-style: none;
      padding-left: 0;
      padding-right: 1.5em;
      border: 1.5px hidden;
      text-align: center;
      text-transform: capitalize;
  }

  .footer {
      margin-top: 0;
    background-color: ghostwhite;
      border-top: solid slategray 1px;
      padding-bottom: 1em;
  }

.bottom-name{
float: left;
margin: 1em 1em;
}

.back-to-top {
float: right;
margin: 1em 1em;
}

.footer-nav li {
  display: none;
}

  /*Media Queries */

@media screen and (min-width: 768px) {

    body {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    }

    header {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    }

    .container {
      min-height: 100vh;
    }
    
    .name {
      padding-top: 1em;
    }

    .nav li {
        display: inline-block;
        padding-bottom: 5px;
        margin-top: -2em;
        border: hidden;
        background-color: ghostwhite;
    }

    .intro-bio {
        float: left;
        font-size: 1.2em;
        padding: 1em;
        width: 50%;
        text-align: left;
    }

    .profile-image {
      float: right;
      width: 50%;
      padding-right: 2em;
    }

    h1 {
      width: 70%;
      margin: 0 auto;
    }

  main {
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }  

 .port-icons {
   width: 40%;
   display: inline-block;
   padding-right: 1em;
   vertical-align: top;
 } 

 #contact-sec {
    padding: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5em;
 }

 .back-to-top {
   display: none;
 }


 .footer-nav li {
   display: block;
   color: black;
   text-transform: capitalize;
  list-style: none;
  padding-right: 1.5em;
   padding: 10px;
   float: right;
   margin-right: 2em;
   font-size: 15px;
 }

 .bottom-name {
   float: left;
   color: black;
   padding-right: 1.5em;
   padding: 10px;
   margin-left: 1em;
 }

}

@media screen and (min-width: 1024px) {


header {
  width: 100%;
  overflow: hidden;
  padding-bottom: 4em;
  margin: 0 auto;
  padding-top: 3em;
}

.footer {
  width: 100%;
}

 .name {
float: left;
text-align: left;
font-size: 1em;
padding-left: 1em;
width: 20%;
 }

.nav {
float: right;
width: 30%;
padding-left: 0;
font-size: .5em;
margin: 10px 0 1px 1px;
vertical-align: top;
 }

 .intro-bio {
  float: left;
  font-size: 1.2em;
  padding: 1em;
  padding-left: 1em;
  width: 50%;
  text-align: left;
}

.profile-image {
float: right;
width: 50%;
}

main {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
  overflow: hidden;
}

#portfolio-header {
  font-size: 1.5em;
}

.port-icons {
  float: left;
  vertical-align: top;
  font-size: .8em;
  text-align: center;
  padding-left: 1em;
  width: 33.3%;
  margin: 0 auto;
}

footer {
  padding-top: 5px;
}

#bottom-list li {
  display: block;
}


.back-to-top {
 display: none;
 }

.clearfix::after {
        content:"";
        clear:both;
        display: table;
    }
  }