/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
  
/* Type Layouts */

  body {
    font-family: "Merriweather", Georgia, serif;
    overflow: auto;
    display: inline-block;
    text-align: center; 
    background-color: ghostwhite;
  }

  img {
      width: 100%;
      padding-top: 1em;
  }

  a {
   text-decoration: none;
   color: black;
  }

  a:hover {
      color: darkgrey;
  }

  header {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
  }

  h1 {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-top: 10px;
      padding-bottom: 30px;
  }

  h2 {
    font-weight: normal;
  }

  main {
      width: 100%;
      background-color: white;
      padding: 1em 1em;
      line-height: 1.5;
  }

  footer {
      padding-top: 1.5em;
      margin: 0 auto;
      line-height: 1.5;
      color: darkgrey;
  }
  /*Class Layouts*/

  .profile-image {
    width: 80%;
  }

  .intro-bio {
      text-align: center;
      padding: 1em;
      color: darkgrey;
      line-height: 1.5;
 }

  .nav { 
      list-style: none;
      padding: 10px;
      color: black; 
    }

ul li {
      border: solid white 4px;
      background-color: white;
      padding: 10px;
      margin: 5px;
      text-transform: uppercase;
  }

  .contact-sec ul li {
      background-color: ghostwhite;
      list-style: none;
      display: inline-block;
      border: hidden;
      text-transform: capitalize;
  }

  .footer {
      margin-top: 0;
    background-color: ghostwhite;
      border-top: solid black 1.5px;
      padding-bottom: 1em;
  }

  .bottom-name{
float: left;
margin: 1em 1em;
}

.back-to-top {
float: right;
margin: 1em 1em;
}

  /*Media Queries */

  @media screen (min-width: 769px) {
    .clearfix:: after {
        content:"";
        display: table;
        clear:both;
    }
    .wrapper {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
    }
}